<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.28.16.31,1433\DB-DOCS;Initial Catalog=DELO_DB;User Id = delo; Password = !QAZxcVFR4"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>